* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background: #99c7ac;
	font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.7;
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center {
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2vw;
	justify-items: center;
}

.container {
	background-color: #fff;
	padding: 0 3rem;
	min-height: 100vh;
}

.caps {
	text-transform: uppercase;
	text-align: center;
}

.nav {
	background-color: none;
}

.btn {
	border: none;
	background-color: #cdd0e3;
	cursor: pointer;
	margin-right: 0.5rem;
	padding: 0.5rem 1rem;
}

.btn--active {
	background-color: #99c7ac;
	color: #fff;
}

.btn--playagain {
	background-color: #246160;
	color: #fff;
}

.btn--reset {
	background-color: #CE6B86;
	color: #fff;
}

.playagain {
	font-weight: bold;
	text-transform: uppercase;
	margin: 1.5rem 0;
	text-align: center;
}

.square {
	border-radius: 10%;
	border-color: rgb(0, 0, 0, 0);
	width: 20vw;
	height: 20vw;
	max-width: 100px;
	max-height: 100px;
	background-color: #5f7d8e;
	font-size: 16px;
	cursor: pointer;
	color: #fff;
	visibility: visible;
	/* box-shadow: 10px 5px 5px rgba(0,0,0,0.3); */
}

.hidden {
	visibility: hidden;
}

.footer {
	width: 100%;
	margin: 3rem 0;
}

/* MOBILE SCREENS */
@media screen and (max-width: 768px) {
	body {
		line-height: 1.3;
	}
	.container {
		width: 80vw;
		padding: 0 1.2rem;
	}
	.nav {
		display: flex;
		flex-direction: column;
	}
	.btn {
		margin: 0px;
		margin-bottom: 2px;
	}
}